
@{
    ViewData["Title"] = "出现错误";
}
    <div class="container">
        <div class="tt-layout-404 p-0">
            <span class="tt-icon">
                <img src="~/images/404.png" />
            </span>
            <h6 class="tt-title">ERROR 500</h6>
            <p>
                很抱歉，服务器崩溃了，请刷新重试或稍后再试
            </p>
        </div>
    </div>

