
@{
    ViewData["Title"] = "成功";
}
<div class="container">
    <div class="tt-layout-404 p-0">
        <span class="tt-icon">
            <img src="~/images/success.png" />
        </span>
        <p>
            操作成功！
        </p>
    </div>
</div>

