<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - 社区后台</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/adminlte3/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="/adminlte3/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/adminlte3/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- jQuery -->
    <script src="/adminlte3/plugins/jquery/jquery.min.js"></script>
    <style>
        .avatar_width {
            width: 36px;
            height: 36px
        }

        .catalog_cover {
            width: 300px;
            height: 100px
        }
    </style>
    <script>
        var loading = false;
        $(document).ajaxError(function (event, xhr, setting, des) {
            console.dir(arguments);
            if (xhr.status === 401) {
                doLogin();
            } else if (xhr.status === 500) {
                parent.layer.msg("服务异常");
            }
        })
        function doLogin() {
            window.location.href = "/admin/account/login";   // 未授权跳转登录
        }
    </script>
</head>
<body>
    @*<mini-profiler />*@
    @RenderBody()
    <!-- ./wrapper -->
    <script src="/adminlte3/plugins/moment/moment.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/adminlte3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/adminlte3/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/js/jsextesions.js"></script>
    <!-- AdminLTE App -->
    <script src="/adminlte3/dist/js/adminlte.js"></script>
</body>
</html>
